<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8">
    <title>Chat Rooms</title>
</head>
<body>
    입장하실 채팅방 이름을 적어주세요.<br/>
    <input id="room-name-input" type="text" size="100"/><br/>
    <input id="room-name-submit" type="button" value="Enter"/><br/>

    <script>
        document.querySelector("#room-name-input").focus();
        document.querySelector("#room-name-input").addEventListener("keyup",(e) => {
            if(e.keycode === 13) {
                document.querySelector("#room-name-submit").click();
            }
        });

        document.querySelector("#room-name-submit").addEventListener("click",(e) => {
            let roomName = document.querySelector("#room-name-input").value;
            window.location.pathname = `/chat/${roomName}/`;
        });
    </script>
</body>
</html>